:root {
  --border-color: #237fdb;
  --bg-color: #33679b;
  --bg-color-light: whitesmoke;
  --text-light: whitesmoke;
  --text-dark: #237fdb;
}

body {
  background-color: var(--bg-color);
  min-height: 90vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}


.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 1px solid var(--border-color);
  justify-content: center;
  padding: 1.5rem;
  border-radius: 5px;
}

form h3 {
  color: var(--text-light);
  margin: 0;
}

.container input {
  margin-bottom: 1rem;
  width: fit-content;
}

input[type="file"] {
  display: none;
}

label {
  font-size: 1rem;
  border: 1px solid var(--border-color);
  padding-left: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
  color: var(--border-color);
  background-color: var(--bg-color-light);
}

label p{
  margin-left: 7px;
}

.preview {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.container p {
  margin-bottom: 1rem;
  margin-top: 12px;
}

.quality {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;

}

.quality select {
  border-radius: 5px;
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  outline: none;
  font-size: 1rem;
  padding: 5px 0;
}

.quality input {
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  text-align: center;
  padding: 5px;
  color: var(--border-color);
  font-weight: bold;
}

.quality span {
  margin-left: 5px;
  color: var(--text-light);
}

.resize-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-light);
  border-radius: 5px;
  padding: 5px;
  color: var(--text-dark);
}

button {
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--bg-color-light);
  border-radius: 5px;
  color: #237fdb;
}

.complected {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.complected a{
  width: 100%;
}

.complected .download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.complected p {
  color: var(--text-light);
}

/*----------------------------FOOTER CSS STARTED---------------------------- */
footer {
  width: 100%;
  text-align: center;
  color: var(--text-light);
  display: flex;
  justify-content: center;
  opacity: 0.7;
}

footer a {
  color: var(--text-light);
  font-weight: bold;
}

.footer-section {
  margin: 2rem 0;
  position: absolute;
  bottom: 0;
}

.copyright {
  margin-top: 10px;
}

/*----------------------------FOOTER CSS ENDED---------------------------- */