:root{
  --border-color:  #237fdb;
}

body {
  background-color: rgb(229, 230, 231);
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 1px solid var(--border-color);
  margin: auto;
  margin-top: 10%;
  padding: 1rem;
  border-radius: 5px;
}

form h3{
  color: var(--border-color);
}

.container input {
  margin-bottom: 1rem;
  width: fit-content;
}

input[type="file"]{
  display: none;
}

label{
  font-size: 1rem;
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 5px;
  display: block;
  margin: 1rem 0;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.219);
}

.preview{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.container p{
  margin-bottom: 1rem;
  margin-top: 12px;
}

button{
  width: 100%;
  font-size: 1rem;
}

.quality {
  width: 30% !important;
  text-align: center;
  font-size: 1rem;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 4px;
}

button {
  padding: 5px;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  color: #237fdb;
}

.complected{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.complected p{
  color: rgb(55, 182, 55);
}